### EnergyETL

In [15]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [16]:
# read csv file
file_path = "Resources/us_potential_energy.csv"

# create the data frame 
energy_df = pd.read_csv(file_path)
energy_df

,Unnamed: 0,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692
5,Colorado,43470,19,399,10238083,4514,94046,16162.0,11,9154524,...,1224,0,260470,8953,1,1251657.0,158.0,7789,1,5060
6,Connecticut,7716,4,100,19627,12,256,6616.0,5,0,...,414,0,88227,0,0,56078.0,7.0,922,0,659
7,Delaware,14856,9,189,272332,167,3482,2185.0,1,0,...,385,0,82013,0,0,22813.0,2.0,30,0,25
8,District of Columbia,8,0,0,0,0,0,2490.0,2,0,...,4,0,977,0,0,697.0,0.0,0,0,2
9,Florida,72787,39,830,5137346,2812,58596,63986.0,49,358,...,3693,0,785787,0,0,374161.0,47.0,682,0,493
10,Georgia,43166,24,505,5492183,3088,64343,31116.0,24,0,...,2220,0,472546,0,0,353206.0,44.0,1988,0,2100
11,Hawaii,3725,1,34,38032,20,430,NaN,2,15369,...,200,0,42602,20632,2,NaN,NaN,2602,0,437
12,Idaho,23194,12,251,3936847,2045,42612,4051.0,3,3502877,...,182,0,38830,17205,2,993257.0,125.0,18757,4,6706
13,Illinois,103551,63,1324,8090985,4969,103524,30086.0,26,0,...,4222,0,898345,0,0,676055.0,85.0,4882,1,1330
14,Indiana,98815,61,1274,4876185,3018,62890,17151.0,14,0,...,2978,0,633660,0,0,434258.0,55.0,2394,0,1142
15,Iowa,27091,15,324,6994159,4020,83762,8646.0,7,0,...,1425,0,303277,0,0,606390.0,76.0,2818,0,2398
16,Kansas,31705,15,317,14500149,6959,144995,8962.0,6,7974255,...,753,0,160219,0,0,989675.0,125.0,2507,0,3201
17,Kentucky,26514,16,338,1823976,1119,23319,12312.0,10,0,...,1273,0,271052,0,0,484658.0,61.0,4255,0,1394
18,Louisiana,55669,32,674,4114605,2394,49876,14368.0,11,0,...,857,0,182404,0,0,484271.0,61.0,2423,0,934
19,Maine,3216,1,40,1100327,658,13722,2443.0,2,0,...,124,0,26542,0,0,377075.0,47.0,3916,0,1373
20,Maryland,28551,18,378,585949,373,7772,14849.0,12,0,...,1226,0,260965,0,0,86649.0,10.0,814,0,491
21,Massachusetts,17469,10,228,82204,51,1074,11722.0,10,0,...,1103,0,234811,0,0,92227.0,11.0,1196,0,560
22,Michigan,50845,33,699,5215639,3443,71740,23527.0,21,0,...,2539,0,540282,0,0,457850.0,58.0,1180,0,1942
23,Minnesota,33370,20,419,10792814,6510,135627,14321.0,12,0,...,1029,0,219074,0,0,369784.0,46.0,1254,0,1391
24,Mississippi,26366,15,317,4981252,2879,59996,8614.0,6,0,...,1076,0,229076,0,0,559056.0,70.0,2211,0,1536
25,Missouri,30549,18,376,5335268,3156,65766,16159.0,13,0,...,2147,0,456990,0,0,835444.0,105.0,7198,1,5089
26,Montana,11370,6,127,8187341,4402,91724,2194.0,1,1540287,...,147,0,31324,6547,0,1647303.0,208.0,14546,3,6859
27,Nebraska,12954,6,141,9266756,4869,101456,5336.0,4,4846929,...,750,0,159729,0,0,927996.0,117.0,3142,0,2880
28,Nevada,24893,10,224,8614454,3732,77751,10767.0,7,8295752,...,325,0,69248,45320,5,1262174.0,160.0,845,0,1489
29,New Hampshire,3790,2,48,57363,35,741,2298.0,2,0,...,389,0,82889,0,0,104314.0,13.0,1740,0,810
30,New Jersey,44307,25,527,439773,251,5231,15767.0,13,0,...,2310,0,491691,0,0,35230.0,4.0,549,0,402
31,New Mexico,71356,30,645,16318543,7087,147652,6513.0,4,16812349,...,353,0,75228,12933,1,1417978.0,179.0,1362,0,1810
32,New York,52803,32,682,1492566,926,19294,28779.0,25,0,...,2950,0,627734,0,0,375400.0,47.0,6711,1,4839
33,North Carolina,68346,37,789,4232789,2346,48892,28419.0,23,0,...,3780,0,804301,0,0,420741.0,53.0,3036,0,2131
34,North Dakota,4871,2,57,9734447,5482,114227,1916.0,1,36049,...,30,0,6383,0,0,820226.0,104.0,347,0,572
35,Ohio,86495,57,1190,3626181,2395,49908,30064.0,27,0,...,3363,0,715603,0,0,495921.0,62.0,3045,0,1791
36,Oklahoma,50040,25,533,9341920,4782,99640,12442.0,9,5068036,...,965,0,205359,0,0,779667.0,98.0,3015,0,2824
37,Oregon,25783,12,270,3740478,1884,39266,8322.0,7,2812126,...,890,0,189571,18199,2,914105.0,115.0,18184,4,7993
38,Pennsylvania,56161,36,754,553356,356,7429,22215.0,19,0,...,7132,0,1517540,0,0,327340.0,41.0,8368,1,4466
39,Rhode Island,1787,1,24,13636,8,184,1710.0,1,0,...,474,0,100888,0,0,11491.0,1.0,59,0,86
40,South Carolina,33834,19,397,2754973,1555,32398,14412.0,11,0,...,1430,0,304312,0,0,364104.0,46.0,1888,0,889
41,South Dakota,4573,2,50,10008873,5344,111350,2082.0,1,1629659,...,235,0,50072,0,0,921972.0,116.0,1047,0,1712
42,Tennessee,50243,28,595,2225989,1266,26395,19685.0,16,0,...,1984,0,422220,0,0,428380.0,54.0,5744,1,2610
43,Texas,294684,154,3213,38993581,20411,425230,78716.0,60,22786749,...,5898,0,1254999,0,0,3030250.0,384.0,3006,0,4366
44,Utah,30492,14,292,5184878,2390,49797,7513.0,5,5067546,...,427,0,91018,12981,1,939380.0,119.0,3528,0,3394
45,Vermont,1632,1,22,54727,35,739,1115.0,1,0,...,203,0,43248,0,0,35616.0,4.0,1710,0,1207
46,Virginia,27451,15,326,1882467,1074,22377,22266.0,18,0,...,2498,0,531592,0,0,290736.0,36.0,3656,0,2601
47,Washington,33690,19,402,1738150,996,20758,13599.0,13,161713,...,1514,0,322155,2546,0,563023.0,71.0,27248,6,7310
48,West Virginia,3023,2,41,52693,35,729,4220.0,3,0,...,281,0,59811,0,0,261376.0,33.0,4408,1,1711
49,Wisconsin,54938,34,727,5042258,3205,66788,13939.0,12,0,...,2072,0,441053,0,0,647173.0,82.0,2286,1,1863
50,Wyoming,7232,3,75,5727224,2854,59463,1550.0,1,5406407,...,50,0,10670,1373,0,1070078.0,135.0,4445,1,2842

In [17]:
# select the columns
energy_df = energy_df[["Unnamed: 0", "urbanUtilityScalePV_GWh","ruralUtilityScalePV_GWh","rooftopPV_GWh", "CSP_GWh","onshoreWind_GWh","offshoreWind_GWh", "biopowerSolid_GWh", "biopowerGaseous_GWh", "geothermalHydrothermal_GWh", "EGSGeothermal_GWh", "hydropower_GWh"]]
                     
# display the new dataframe
energy_df

,Unnamed: 0,urbanUtilityScalePV_GWh,ruralUtilityScalePV_GWh,rooftopPV_GWh,CSP_GWh,onshoreWind_GWh,offshoreWind_GWh,biopowerSolid_GWh,biopowerGaseous_GWh,geothermalHydrothermal_GWh,EGSGeothermal_GWh,hydropower_GWh
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,NaN,0,1373433,NaN,513,61,15437,NaN,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,NaN,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,NaN,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023
5,Colorado,43470,10238083,16162.0,9154524,1096035,NaN,2913,1224,8953,1251657.0,7789
6,Connecticut,7716,19627,6616.0,0,61,26545.0,494,414,0,56078.0,922
7,Delaware,14856,272332,2185.0,0,21,60654.0,512,385,0,22813.0,30
8,District of Columbia,8,0,2490.0,0,0,NaN,61,4,0,697.0,0
9,Florida,72787,5137346,63986.0,358,0,34684.0,9664,3693,0,374161.0,682
10,Georgia,43166,5492183,31116.0,0,322,220807.0,14682,2220,0,353206.0,1988
11,Hawaii,3725,38032,NaN,15369,7786,2836735.0,524,200,20632,NaN,2602
12,Idaho,23194,3936847,4051.0,3502877,44319,NaN,5775,182,17205,993257.0,18757
13,Illinois,103551,8090985,30086.0,0,649467,66070.0,27738,4222,0,676055.0,4882
14,Indiana,98815,4876185,17151.0,0,377603,165.0,14941,2978,0,434258.0,2394
15,Iowa,27091,6994159,8646.0,0,1723587,NaN,27502,1425,0,606390.0,2818
16,Kansas,31705,14500149,8962.0,7974255,3101575,NaN,12104,753,0,989675.0,2507
17,Kentucky,26514,1823976,12312.0,0,147,NaN,7048,1273,0,484658.0,4255
18,Louisiana,55669,4114605,14368.0,0,934,1200698.0,14016,857,0,484271.0,2423
19,Maine,3216,1100327,2443.0,0,28742,631960.0,4273,124,0,377075.0,3916
20,Maryland,28551,585949,14849.0,0,3631,200852.0,2102,1226,0,86649.0,814
21,Massachusetts,17469,82204,11722.0,0,2827,799344.0,1045,1103,0,92227.0,1196
22,Michigan,50845,5215639,23527.0,0,143907,1739800.0,9358,2539,0,457850.0,1180
23,Minnesota,33370,10792814,14321.0,0,1428524,100454.0,20361,1029,0,369784.0,1254
24,Mississippi,26366,4981252,8614.0,0,0,10172.0,14209,1076,0,559056.0,2211
25,Missouri,30549,5335268,16159.0,0,689519,NaN,11837,2147,0,835444.0,7198
26,Montana,11370,8187341,2194.0,1540287,2746271,NaN,4924,147,6547,1647303.0,14546
27,Nebraska,12954,9266756,5336.0,4846929,3011252,NaN,16271,750,0,927996.0,3142
28,Nevada,24893,8614454,10767.0,8295752,17709,NaN,288,325,45320,1262174.0,845
29,New Hampshire,3790,57363,2298.0,0,5706,14477.0,953,389,0,104314.0,1740
30,New Jersey,44307,439773,15767.0,0,317,429807.0,1212,2310,0,35230.0,549
31,New Mexico,71356,16318543,6513.0,16812349,1399156,NaN,595,353,12933,1417978.0,1362
32,New York,52803,1492566,28779.0,0,63565,614279.0,5558,2950,0,375400.0,6711
33,North Carolina,68346,4232789,28419.0,0,2037,1269626.0,12869,3780,0,420741.0,3036
34,North Dakota,4871,9734447,1916.0,36049,2537824,NaN,8186,30,0,820226.0,347
35,Ohio,86495,3626181,30064.0,0,129142,170561.0,11009,3363,0,495921.0,3045
36,Oklahoma,50040,9341920,12442.0,5068036,1521651,NaN,4128,965,0,779667.0,3015
37,Oregon,25783,3740478,8322.0,2812126,68766,962722.0,13793,890,18199,914105.0,18184
38,Pennsylvania,56161,553356,22215.0,0,8230,23571.0,6313,7132,0,327340.0,8368
39,Rhode Island,1787,13636,1710.0,0,129,89114.0,143,474,0,11491.0,59
40,South Carolina,33834,2754973,14412.0,0,427,542218.0,6984,1430,0,364104.0,1888
41,South Dakota,4573,10008873,2082.0,1629659,2901858,NaN,8380,235,0,921972.0,1047
42,Tennessee,50243,2225989,19685.0,0,765,NaN,6095,1984,0,428380.0,5744
43,Texas,294684,38993581,78716.0,22786749,5552399,1101062.0,16077,5898,0,3030250.0,3006
44,Utah,30492,5184878,7513.0,5067546,31552,NaN,433,427,12981,939380.0,3528
45,Vermont,1632,54727,1115.0,0,7795,NaN,491,203,0,35616.0,1710
46,Virginia,27451,1882467,22266.0,0,4589,361053.0,7866,2498,0,290736.0,3656
47,Washington,33690,1738150,13599.0,161713,47249,488025.0,12311,1514,2546,563023.0,27248
48,West Virginia,3023,52693,4220.0,0,4951,NaN,2406,281,0,261376.0,4408
49,Wisconsin,54938,5042258,13939.0,0,255266,317754.0,11221,2072,0,647173.0,2286
50,Wyoming,7232,5727224,1550.0,5406407,1653856,NaN,503,50,1373,1070078.0,4445

In [18]:
# rename the columns
energy_df.columns=["State", "Urban_Solar", "Rural_Solar", "Rooftop_Solar", "CSP_Solar", "Onshore_Wind", "Offshore_Wind", "Biopower_Solid", "Biopower_Gaseous", "Geothermal_Hydrothermal", "EGS_Geothermal", "Hydropower"]
energy_df

,State,Urban_Solar,Rural_Solar,Rooftop_Solar,CSP_Solar,Onshore_Wind,Offshore_Wind,Biopower_Solid,Biopower_Gaseous,Geothermal_Hydrothermal,EGS_Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,NaN,0,1373433,NaN,513,61,15437,NaN,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,NaN,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,NaN,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023
5,Colorado,43470,10238083,16162.0,9154524,1096035,NaN,2913,1224,8953,1251657.0,7789
6,Connecticut,7716,19627,6616.0,0,61,26545.0,494,414,0,56078.0,922
7,Delaware,14856,272332,2185.0,0,21,60654.0,512,385,0,22813.0,30
8,District of Columbia,8,0,2490.0,0,0,NaN,61,4,0,697.0,0
9,Florida,72787,5137346,63986.0,358,0,34684.0,9664,3693,0,374161.0,682
10,Georgia,43166,5492183,31116.0,0,322,220807.0,14682,2220,0,353206.0,1988
11,Hawaii,3725,38032,NaN,15369,7786,2836735.0,524,200,20632,NaN,2602
12,Idaho,23194,3936847,4051.0,3502877,44319,NaN,5775,182,17205,993257.0,18757
13,Illinois,103551,8090985,30086.0,0,649467,66070.0,27738,4222,0,676055.0,4882
14,Indiana,98815,4876185,17151.0,0,377603,165.0,14941,2978,0,434258.0,2394
15,Iowa,27091,6994159,8646.0,0,1723587,NaN,27502,1425,0,606390.0,2818
16,Kansas,31705,14500149,8962.0,7974255,3101575,NaN,12104,753,0,989675.0,2507
17,Kentucky,26514,1823976,12312.0,0,147,NaN,7048,1273,0,484658.0,4255
18,Louisiana,55669,4114605,14368.0,0,934,1200698.0,14016,857,0,484271.0,2423
19,Maine,3216,1100327,2443.0,0,28742,631960.0,4273,124,0,377075.0,3916
20,Maryland,28551,585949,14849.0,0,3631,200852.0,2102,1226,0,86649.0,814
21,Massachusetts,17469,82204,11722.0,0,2827,799344.0,1045,1103,0,92227.0,1196
22,Michigan,50845,5215639,23527.0,0,143907,1739800.0,9358,2539,0,457850.0,1180
23,Minnesota,33370,10792814,14321.0,0,1428524,100454.0,20361,1029,0,369784.0,1254
24,Mississippi,26366,4981252,8614.0,0,0,10172.0,14209,1076,0,559056.0,2211
25,Missouri,30549,5335268,16159.0,0,689519,NaN,11837,2147,0,835444.0,7198
26,Montana,11370,8187341,2194.0,1540287,2746271,NaN,4924,147,6547,1647303.0,14546
27,Nebraska,12954,9266756,5336.0,4846929,3011252,NaN,16271,750,0,927996.0,3142
28,Nevada,24893,8614454,10767.0,8295752,17709,NaN,288,325,45320,1262174.0,845
29,New Hampshire,3790,57363,2298.0,0,5706,14477.0,953,389,0,104314.0,1740
30,New Jersey,44307,439773,15767.0,0,317,429807.0,1212,2310,0,35230.0,549
31,New Mexico,71356,16318543,6513.0,16812349,1399156,NaN,595,353,12933,1417978.0,1362
32,New York,52803,1492566,28779.0,0,63565,614279.0,5558,2950,0,375400.0,6711
33,North Carolina,68346,4232789,28419.0,0,2037,1269626.0,12869,3780,0,420741.0,3036
34,North Dakota,4871,9734447,1916.0,36049,2537824,NaN,8186,30,0,820226.0,347
35,Ohio,86495,3626181,30064.0,0,129142,170561.0,11009,3363,0,495921.0,3045
36,Oklahoma,50040,9341920,12442.0,5068036,1521651,NaN,4128,965,0,779667.0,3015
37,Oregon,25783,3740478,8322.0,2812126,68766,962722.0,13793,890,18199,914105.0,18184
38,Pennsylvania,56161,553356,22215.0,0,8230,23571.0,6313,7132,0,327340.0,8368
39,Rhode Island,1787,13636,1710.0,0,129,89114.0,143,474,0,11491.0,59
40,South Carolina,33834,2754973,14412.0,0,427,542218.0,6984,1430,0,364104.0,1888
41,South Dakota,4573,10008873,2082.0,1629659,2901858,NaN,8380,235,0,921972.0,1047
42,Tennessee,50243,2225989,19685.0,0,765,NaN,6095,1984,0,428380.0,5744
43,Texas,294684,38993581,78716.0,22786749,5552399,1101062.0,16077,5898,0,3030250.0,3006
44,Utah,30492,5184878,7513.0,5067546,31552,NaN,433,427,12981,939380.0,3528
45,Vermont,1632,54727,1115.0,0,7795,NaN,491,203,0,35616.0,1710
46,Virginia,27451,1882467,22266.0,0,4589,361053.0,7866,2498,0,290736.0,3656
47,Washington,33690,1738150,13599.0,161713,47249,488025.0,12311,1514,2546,563023.0,27248
48,West Virginia,3023,52693,4220.0,0,4951,NaN,2406,281,0,261376.0,4408
49,Wisconsin,54938,5042258,13939.0,0,255266,317754.0,11221,2072,0,647173.0,2286
50,Wyoming,7232,5727224,1550.0,5406407,1653856,NaN,503,50,1373,1070078.0,4445

In [19]:
energy_df.fillna(0, inplace=True)
energy_df

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

,State,Urban_Solar,Rural_Solar,Rooftop_Solar,CSP_Solar,Onshore_Wind,Offshore_Wind,Biopower_Solid,Biopower_Gaseous,Geothermal_Hydrothermal,EGS_Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,0.0,0,1373433,0.0,513,61,15437,0.0,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,0.0,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,0.0,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023
5,Colorado,43470,10238083,16162.0,9154524,1096035,0.0,2913,1224,8953,1251657.0,7789
6,Connecticut,7716,19627,6616.0,0,61,26545.0,494,414,0,56078.0,922
7,Delaware,14856,272332,2185.0,0,21,60654.0,512,385,0,22813.0,30
8,District of Columbia,8,0,2490.0,0,0,0.0,61,4,0,697.0,0
9,Florida,72787,5137346,63986.0,358,0,34684.0,9664,3693,0,374161.0,682
10,Georgia,43166,5492183,31116.0,0,322,220807.0,14682,2220,0,353206.0,1988
11,Hawaii,3725,38032,0.0,15369,7786,2836735.0,524,200,20632,0.0,2602
12,Idaho,23194,3936847,4051.0,3502877,44319,0.0,5775,182,17205,993257.0,18757
13,Illinois,103551,8090985,30086.0,0,649467,66070.0,27738,4222,0,676055.0,4882
14,Indiana,98815,4876185,17151.0,0,377603,165.0,14941,2978,0,434258.0,2394
15,Iowa,27091,6994159,8646.0,0,1723587,0.0,27502,1425,0,606390.0,2818
16,Kansas,31705,14500149,8962.0,7974255,3101575,0.0,12104,753,0,989675.0,2507
17,Kentucky,26514,1823976,12312.0,0,147,0.0,7048,1273,0,484658.0,4255
18,Louisiana,55669,4114605,14368.0,0,934,1200698.0,14016,857,0,484271.0,2423
19,Maine,3216,1100327,2443.0,0,28742,631960.0,4273,124,0,377075.0,3916
20,Maryland,28551,585949,14849.0,0,3631,200852.0,2102,1226,0,86649.0,814
21,Massachusetts,17469,82204,11722.0,0,2827,799344.0,1045,1103,0,92227.0,1196
22,Michigan,50845,5215639,23527.0,0,143907,1739800.0,9358,2539,0,457850.0,1180
23,Minnesota,33370,10792814,14321.0,0,1428524,100454.0,20361,1029,0,369784.0,1254
24,Mississippi,26366,4981252,8614.0,0,0,10172.0,14209,1076,0,559056.0,2211
25,Missouri,30549,5335268,16159.0,0,689519,0.0,11837,2147,0,835444.0,7198
26,Montana,11370,8187341,2194.0,1540287,2746271,0.0,4924,147,6547,1647303.0,14546
27,Nebraska,12954,9266756,5336.0,4846929,3011252,0.0,16271,750,0,927996.0,3142
28,Nevada,24893,8614454,10767.0,8295752,17709,0.0,288,325,45320,1262174.0,845
29,New Hampshire,3790,57363,2298.0,0,5706,14477.0,953,389,0,104314.0,1740
30,New Jersey,44307,439773,15767.0,0,317,429807.0,1212,2310,0,35230.0,549
31,New Mexico,71356,16318543,6513.0,16812349,1399156,0.0,595,353,12933,1417978.0,1362
32,New York,52803,1492566,28779.0,0,63565,614279.0,5558,2950,0,375400.0,6711
33,North Carolina,68346,4232789,28419.0,0,2037,1269626.0,12869,3780,0,420741.0,3036
34,North Dakota,4871,9734447,1916.0,36049,2537824,0.0,8186,30,0,820226.0,347
35,Ohio,86495,3626181,30064.0,0,129142,170561.0,11009,3363,0,495921.0,3045
36,Oklahoma,50040,9341920,12442.0,5068036,1521651,0.0,4128,965,0,779667.0,3015
37,Oregon,25783,3740478,8322.0,2812126,68766,962722.0,13793,890,18199,914105.0,18184
38,Pennsylvania,56161,553356,22215.0,0,8230,23571.0,6313,7132,0,327340.0,8368
39,Rhode Island,1787,13636,1710.0,0,129,89114.0,143,474,0,11491.0,59
40,South Carolina,33834,2754973,14412.0,0,427,542218.0,6984,1430,0,364104.0,1888
41,South Dakota,4573,10008873,2082.0,1629659,2901858,0.0,8380,235,0,921972.0,1047
42,Tennessee,50243,2225989,19685.0,0,765,0.0,6095,1984,0,428380.0,5744
43,Texas,294684,38993581,78716.0,22786749,5552399,1101062.0,16077,5898,0,3030250.0,3006
44,Utah,30492,5184878,7513.0,5067546,31552,0.0,433,427,12981,939380.0,3528
45,Vermont,1632,54727,1115.0,0,7795,0.0,491,203,0,35616.0,1710
46,Virginia,27451,1882467,22266.0,0,4589,361053.0,7866,2498,0,290736.0,3656
47,Washington,33690,1738150,13599.0,161713,47249,488025.0,12311,1514,2546,563023.0,27248
48,West Virginia,3023,52693,4220.0,0,4951,0.0,2406,281,0,261376.0,4408
49,Wisconsin,54938,5042258,13939.0,0,255266,317754.0,11221,2072,0,647173.0,2286
50,Wyoming,7232,5727224,1550.0,5406407,1653856,0.0,503,50,1373,1070078.0,4445

In [20]:
#output clean data frame to csv
potential_energy = "Resources/us_potential_energy(clean).csv"
energy_df.to_csv(potential_energy,index=False)

### Scrape Wikipedia for the US Census Population Estimates

In [32]:
# Store the Wikipedia URL
wiki_url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population#cite_note-5"

# Use Pandas to scrape Wikipedia page for tables
wiki_tables = pd.read_html(wiki_url)

# Grab the first table
pop_est_df = wiki_tables[0]

# Grab the State & Population est. for 2018
pop_est_df = pop_est_df[['Name', 'Population estimate, July 1, 2018[5]']]

# Rename the columns
pop_est_df = pop_est_df.rename(columns={"Name": "State", "Population estimate, July 1, 2018[5]": "Population"})

# Drop the Territories
pop_est_df = pop_est_df[0:52]

pop_est_df.tail()

                   State  Population
47          North Dakota      760077
48                Alaska      737438
49  District of Columbia      702455
50               Vermont      626299
51               Wyoming      577737

In [22]:
#output clean data frame to csv
state_pops = "Resources/state_pops(clean).csv"
pop_est_df.to_csv(state_pops,index=False)

In [33]:
# Read in Energy Consumption csv
tot_consum_csv = "Resources/total_energy_consumed.csv"

# Create the Consumption DataFrame
tot_consum_df = pd.read_csv(tot_consum_csv)

tot_consum_df.head()

# Join Population and Total Energy Consumed DataFrames
tot_consum_df = tot_consum_df.merge(pop_est_df, on='State',how="inner")

tot_energy_gwh = tot_consum_df['Total_Energy_Consumed'] * 1000000 * 0.00000000029 * tot_consum_df['Population']

tot_consum_df['Total_Energy_Consumed_Gwh'] = tot_energy_gwh

tot_consum_df.head()

,Rank,State,Total_Energy_Consumed,Population,Total_Energy_Consumed_Gwh
0,1,Louisiana,960,4659978,1.297338e+06
1,2,Wyoming,885,577737,1.482762e+05
2,3,North Dakota,836,760077,1.842731e+05
3,4,Alaska,822,737438,1.757905e+05
4,5,Iowa,496,3156145,4.539799e+05

In [30]:
tot_consum_energy_w_pop_df.head()

   Rank         State  Total_Energy_Consumed  Population
0     1     Louisiana                    960     4659978
1     2       Wyoming                    885      577737
2     3  North Dakota                    836      760077
3     4        Alaska                    822      737438
4     5          Iowa                    496     3156145

In [ ]:
#connect to database
engine = create_engine("postgresql://postgres:Mission1!@localhost/ETL_Project")

In [ ]:
#copy dataframes into tables
pop_est_df.to_sql('state_population', con=engine, if_exists='replace')
energy_df.to_sql('', con=engine, if_exists='replace')
#COPY state_population FROM "Resources/state_pops(clean).csv";

In [ ]:
engine.execute('select * from state_population').fetchall()