### EnergyETL

In [16]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# read csv file
file_path = "Resources/us_potential_energy.csv"

# create the data frame 
energy_df = pd.read_csv(file_path)
energy_df

In [ ]:
# select the columns
energy_df = energy_df[["Unnamed: 0", "urbanUtilityScalePV_GWh","ruralUtilityScalePV_GWh","rooftopPV_GWh", "CSP_GWh","onshoreWind_GWh","offshoreWind_GWh", "biopowerSolid_GWh", "biopowerGaseous_GWh", "geothermalHydrothermal_GWh", "EGSGeothermal_GWh", "hydropower_GWh"]]
                     
# display the new dataframe
energy_df

In [20]:
# rename the columns
energy_df.columns=["State", "Urban_Solar", "Rural_Solar", "Rooftop_Solar", "CSP_Solar", "Onshore_Wind", "Offshore_Wind", "Biopower_Solid", "Biopower_Gaseous", "Geothermal_Hydrothermal", "EGS_Geothermal", "Hydropower"]
energy_df

,State,Urban_Solar,Rural_Solar,Rooftop_Solar,CSP_Solar,Onshore_Wind,Offshore_Wind,Biopower_Solid,Biopower_Gaseous,Geothermal_Hydrothermal,EGS_Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,NaN,0,1373433,NaN,513,61,15437,NaN,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,NaN,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,NaN,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023
5,Colorado,43470,10238083,16162.0,9154524,1096035,NaN,2913,1224,8953,1251657.0,7789
6,Connecticut,7716,19627,6616.0,0,61,26545.0,494,414,0,56078.0,922
7,Delaware,14856,272332,2185.0,0,21,60654.0,512,385,0,22813.0,30
8,District of Columbia,8,0,2490.0,0,0,NaN,61,4,0,697.0,0
9,Florida,72787,5137346,63986.0,358,0,34684.0,9664,3693,0,374161.0,682
10,Georgia,43166,5492183,31116.0,0,322,220807.0,14682,2220,0,353206.0,1988
11,Hawaii,3725,38032,NaN,15369,7786,2836735.0,524,200,20632,NaN,2602
12,Idaho,23194,3936847,4051.0,3502877,44319,NaN,5775,182,17205,993257.0,18757
13,Illinois,103551,8090985,30086.0,0,649467,66070.0,27738,4222,0,676055.0,4882
14,Indiana,98815,4876185,17151.0,0,377603,165.0,14941,2978,0,434258.0,2394
15,Iowa,27091,6994159,8646.0,0,1723587,NaN,27502,1425,0,606390.0,2818
16,Kansas,31705,14500149,8962.0,7974255,3101575,NaN,12104,753,0,989675.0,2507
17,Kentucky,26514,1823976,12312.0,0,147,NaN,7048,1273,0,484658.0,4255
18,Louisiana,55669,4114605,14368.0,0,934,1200698.0,14016,857,0,484271.0,2423
19,Maine,3216,1100327,2443.0,0,28742,631960.0,4273,124,0,377075.0,3916
20,Maryland,28551,585949,14849.0,0,3631,200852.0,2102,1226,0,86649.0,814
21,Massachusetts,17469,82204,11722.0,0,2827,799344.0,1045,1103,0,92227.0,1196
22,Michigan,50845,5215639,23527.0,0,143907,1739800.0,9358,2539,0,457850.0,1180
23,Minnesota,33370,10792814,14321.0,0,1428524,100454.0,20361,1029,0,369784.0,1254
24,Mississippi,26366,4981252,8614.0,0,0,10172.0,14209,1076,0,559056.0,2211
25,Missouri,30549,5335268,16159.0,0,689519,NaN,11837,2147,0,835444.0,7198
26,Montana,11370,8187341,2194.0,1540287,2746271,NaN,4924,147,6547,1647303.0,14546
27,Nebraska,12954,9266756,5336.0,4846929,3011252,NaN,16271,750,0,927996.0,3142
28,Nevada,24893,8614454,10767.0,8295752,17709,NaN,288,325,45320,1262174.0,845
29,New Hampshire,3790,57363,2298.0,0,5706,14477.0,953,389,0,104314.0,1740
30,New Jersey,44307,439773,15767.0,0,317,429807.0,1212,2310,0,35230.0,549
31,New Mexico,71356,16318543,6513.0,16812349,1399156,NaN,595,353,12933,1417978.0,1362
32,New York,52803,1492566,28779.0,0,63565,614279.0,5558,2950,0,375400.0,6711
33,North Carolina,68346,4232789,28419.0,0,2037,1269626.0,12869,3780,0,420741.0,3036
34,North Dakota,4871,9734447,1916.0,36049,2537824,NaN,8186,30,0,820226.0,347
35,Ohio,86495,3626181,30064.0,0,129142,170561.0,11009,3363,0,495921.0,3045
36,Oklahoma,50040,9341920,12442.0,5068036,1521651,NaN,4128,965,0,779667.0,3015
37,Oregon,25783,3740478,8322.0,2812126,68766,962722.0,13793,890,18199,914105.0,18184
38,Pennsylvania,56161,553356,22215.0,0,8230,23571.0,6313,7132,0,327340.0,8368
39,Rhode Island,1787,13636,1710.0,0,129,89114.0,143,474,0,11491.0,59
40,South Carolina,33834,2754973,14412.0,0,427,542218.0,6984,1430,0,364104.0,1888
41,South Dakota,4573,10008873,2082.0,1629659,2901858,NaN,8380,235,0,921972.0,1047
42,Tennessee,50243,2225989,19685.0,0,765,NaN,6095,1984,0,428380.0,5744
43,Texas,294684,38993581,78716.0,22786749,5552399,1101062.0,16077,5898,0,3030250.0,3006
44,Utah,30492,5184878,7513.0,5067546,31552,NaN,433,427,12981,939380.0,3528
45,Vermont,1632,54727,1115.0,0,7795,NaN,491,203,0,35616.0,1710
46,Virginia,27451,1882467,22266.0,0,4589,361053.0,7866,2498,0,290736.0,3656
47,Washington,33690,1738150,13599.0,161713,47249,488025.0,12311,1514,2546,563023.0,27248
48,West Virginia,3023,52693,4220.0,0,4951,NaN,2406,281,0,261376.0,4408
49,Wisconsin,54938,5042258,13939.0,0,255266,317754.0,11221,2072,0,647173.0,2286
50,Wyoming,7232,5727224,1550.0,5406407,1653856,NaN,503,50,1373,1070078.0,4445

In [17]:
energy_df.fillna(0, inplace=True)
energy_df

,State,Urban_Solar,Rural_Solar,Rooftop_Solar,CSP_Solar,Onshore_Wind,Offshore_Wind,Biopower_Solid,Biopower_Gaseous,Geothermal_Hydrothermal,EGS_Geothermal,Hydropower
0,Alabama,35850,3706838,15475.0,0,283,0.0,11193,1533,0,535489.0,4102
1,Alaska,166,8282976,0.0,0,1373433,0.0,513,61,15437,0.0,23675
2,Arizona,121305,11867693,22736.0,12544333,26036,0.0,1087,837,8329,1239147.0,1303
3,Arkansas,28960,4986388,8484.0,0,22892,0.0,14381,1063,0,628621.0,6093
4,California,246008,8855917,106411.0,8490916,89862,2662579.0,12408,15510,130921,1344179.0,30023
5,Colorado,43470,10238083,16162.0,9154524,1096035,0.0,2913,1224,8953,1251657.0,7789
6,Connecticut,7716,19627,6616.0,0,61,26545.0,494,414,0,56078.0,922
7,Delaware,14856,272332,2185.0,0,21,60654.0,512,385,0,22813.0,30
8,District of Columbia,8,0,2490.0,0,0,0.0,61,4,0,697.0,0
9,Florida,72787,5137346,63986.0,358,0,34684.0,9664,3693,0,374161.0,682
10,Georgia,43166,5492183,31116.0,0,322,220807.0,14682,2220,0,353206.0,1988
11,Hawaii,3725,38032,0.0,15369,7786,2836735.0,524,200,20632,0.0,2602
12,Idaho,23194,3936847,4051.0,3502877,44319,0.0,5775,182,17205,993257.0,18757
13,Illinois,103551,8090985,30086.0,0,649467,66070.0,27738,4222,0,676055.0,4882
14,Indiana,98815,4876185,17151.0,0,377603,165.0,14941,2978,0,434258.0,2394
15,Iowa,27091,6994159,8646.0,0,1723587,0.0,27502,1425,0,606390.0,2818
16,Kansas,31705,14500149,8962.0,7974255,3101575,0.0,12104,753,0,989675.0,2507
17,Kentucky,26514,1823976,12312.0,0,147,0.0,7048,1273,0,484658.0,4255
18,Louisiana,55669,4114605,14368.0,0,934,1200698.0,14016,857,0,484271.0,2423
19,Maine,3216,1100327,2443.0,0,28742,631960.0,4273,124,0,377075.0,3916
20,Maryland,28551,585949,14849.0,0,3631,200852.0,2102,1226,0,86649.0,814
21,Massachusetts,17469,82204,11722.0,0,2827,799344.0,1045,1103,0,92227.0,1196
22,Michigan,50845,5215639,23527.0,0,143907,1739800.0,9358,2539,0,457850.0,1180
23,Minnesota,33370,10792814,14321.0,0,1428524,100454.0,20361,1029,0,369784.0,1254
24,Mississippi,26366,4981252,8614.0,0,0,10172.0,14209,1076,0,559056.0,2211
25,Missouri,30549,5335268,16159.0,0,689519,0.0,11837,2147,0,835444.0,7198
26,Montana,11370,8187341,2194.0,1540287,2746271,0.0,4924,147,6547,1647303.0,14546
27,Nebraska,12954,9266756,5336.0,4846929,3011252,0.0,16271,750,0,927996.0,3142
28,Nevada,24893,8614454,10767.0,8295752,17709,0.0,288,325,45320,1262174.0,845
29,New Hampshire,3790,57363,2298.0,0,5706,14477.0,953,389,0,104314.0,1740
30,New Jersey,44307,439773,15767.0,0,317,429807.0,1212,2310,0,35230.0,549
31,New Mexico,71356,16318543,6513.0,16812349,1399156,0.0,595,353,12933,1417978.0,1362
32,New York,52803,1492566,28779.0,0,63565,614279.0,5558,2950,0,375400.0,6711
33,North Carolina,68346,4232789,28419.0,0,2037,1269626.0,12869,3780,0,420741.0,3036
34,North Dakota,4871,9734447,1916.0,36049,2537824,0.0,8186,30,0,820226.0,347
35,Ohio,86495,3626181,30064.0,0,129142,170561.0,11009,3363,0,495921.0,3045
36,Oklahoma,50040,9341920,12442.0,5068036,1521651,0.0,4128,965,0,779667.0,3015
37,Oregon,25783,3740478,8322.0,2812126,68766,962722.0,13793,890,18199,914105.0,18184
38,Pennsylvania,56161,553356,22215.0,0,8230,23571.0,6313,7132,0,327340.0,8368
39,Rhode Island,1787,13636,1710.0,0,129,89114.0,143,474,0,11491.0,59
40,South Carolina,33834,2754973,14412.0,0,427,542218.0,6984,1430,0,364104.0,1888
41,South Dakota,4573,10008873,2082.0,1629659,2901858,0.0,8380,235,0,921972.0,1047
42,Tennessee,50243,2225989,19685.0,0,765,0.0,6095,1984,0,428380.0,5744
43,Texas,294684,38993581,78716.0,22786749,5552399,1101062.0,16077,5898,0,3030250.0,3006
44,Utah,30492,5184878,7513.0,5067546,31552,0.0,433,427,12981,939380.0,3528
45,Vermont,1632,54727,1115.0,0,7795,0.0,491,203,0,35616.0,1710
46,Virginia,27451,1882467,22266.0,0,4589,361053.0,7866,2498,0,290736.0,3656
47,Washington,33690,1738150,13599.0,161713,47249,488025.0,12311,1514,2546,563023.0,27248
48,West Virginia,3023,52693,4220.0,0,4951,0.0,2406,281,0,261376.0,4408
49,Wisconsin,54938,5042258,13939.0,0,255266,317754.0,11221,2072,0,647173.0,2286
50,Wyoming,7232,5727224,1550.0,5406407,1653856,0.0,503,50,1373,1070078.0,4445

In [8]:
#output clean data frame to csv
potential_energy = "Resources/us_potential_energy(clean).csv"
energy_df.to_csv(potential_energy,index=False)

### Scrape Wikipedia for the US Census Population Estimates

In [ ]:
# Store the Wikipedia URL
wiki_url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population#cite_note-5"

# Use Pandas to scrape Wikipedia page for tables
wiki_tables = pd.read_html(wiki_url)

# Grab the first table
pop_est_df = wiki_tables[0]

# Grab the State & Population est. for 2018
pop_est_df = pop_est_df[['Name', 'Population estimate, July 1, 2018[5]']]

# Rename the columns
pop_est_df = pop_est_df.rename(columns={"Name": "State", "Population estimate, July 1, 2018[5]": "Population"})

# Display the new DataFrame
pop_est_df.head()

In [9]:
#output clean data frame to csv
state_pops = "Resources/state_pops(clean).csv"
pop_est_df.to_csv(state_pops,index=False)

In [13]:
#connect to database
engine = create_engine("postgresql://postgres:Mission1!@localhost/ETL_Project")

In [19]:
#copy dataframes into tables
pop_est_df.to_sql('state_population', con=engine, if_exists='replace')
energy_df.to_sql('', con=engine, if_exists='replace')
#COPY state_population FROM "Resources/state_pops(clean).csv";

IndexError: string index out of range

In [18]:
engine.execute('select * from state_population').fetchall()

[(0, 'California', 39557045),
 (1, 'Texas', 28701845),
 (2, 'Florida', 21299325),
 (3, 'New York', 19542209),
 (4, 'Pennsylvania', 12807060),
 (5, 'Illinois', 12741080),
 (6, 'Ohio', 11689442),
 (7, 'Georgia', 10519475),
 (8, 'North Carolina', 10383620),
 (9, 'Michigan', 9995915),
 (10, 'New Jersey', 8908520),
 (11, 'Virginia', 8517685),
 (12, 'Washington', 7535591),
 (13, 'Arizona', 7171646),
 (14, 'Massachusetts', 6902149),
 (15, 'Tennessee', 6770010),
 (16, 'Indiana', 6691878),
 (17, 'Missouri', 6126452),
 (18, 'Maryland', 6042718),
 (19, 'Wisconsin', 5813568),
 (20, 'Colorado', 5695564),
 (21, 'Minnesota', 5611179),
 (22, 'South Carolina', 5084127),
 (23, 'Alabama', 4887871),
 (24, 'Louisiana', 4659978),
 (25, 'Kentucky', 4468402),
 (26, 'Oregon', 4190713),
 (27, 'Oklahoma', 3943079),
 (28, 'Connecticut', 3572665),
 (29, 'Puerto Rico', 3195153),
 (30, 'Utah', 3161105),
 (31, 'Iowa', 3156145),
 (32, 'Nevada', 3034392),
 (33, 'Arkansas', 3013825),
 (34, 'Mississippi', 2986530),
 (35, 'Kansas', 2911505),
 (36, 'New Mexico', 2095428),
 (37, 'Nebraska', 1929268),
 (38, 'West Virginia', 1805832),
 (39, 'Idaho', 1754208),
 (40, 'Hawaii', 1420491),
 (41, 'New Hampshire', 1356458),
 (42, 'Maine', 1338404),
 (43, 'Montana', 1062305),
 (44, 'Rhode Island', 1057315),
 (45, 'Delaware', 967171),
 (46, 'South Dakota', 882235),
 (47, 'North Dakota', 760077),
 (48, 'Alaska', 737438),
 (49, 'District of Columbia', 702455),
 (50, 'Vermont', 626299),
 (51, 'Wyoming', 577737),
 (52, 'Guam', 165718),
 (53, 'U.S. Virgin Islands', 104914),
 (54, 'American Samoa', 55641),
 (55, 'Northern Mariana Islands', 55194),
 (56, 'Contiguous United States', 325009505),
 (57, 'The fifty states', 326464979),
 (58, 'Fifty states + D.C.', 327167434),
 (59, 'Total U.S. (including D.C. and territories)', 330744054)]